CREATE DATABASE IF NOT EXISTS EldercareAssistanceSystem;

USE EldercareAssistanceSystem;

-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: EldercareAssistanceSystem
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activityreminders`
--

DROP TABLE IF EXISTS `activityreminders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activityreminders` (
  `reminder_id` int NOT NULL AUTO_INCREMENT,
  `elderly_id` int NOT NULL,
  `activity_type` varchar(50) NOT NULL,
  `reminder_time` time NOT NULL,
  `frequency` varchar(20) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `completed` tinyint(1) DEFAULT '0',
  `last_notified` timestamp NULL DEFAULT NULL,
  `notification_count` int DEFAULT '0',
  `created_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `is_active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`reminder_id`),
  KEY `idx_reminder_elderly` (`elderly_id`),
  KEY `idx_reminder_time` (`reminder_time`),
  KEY `idx_reminder_completed` (`completed`),
  CONSTRAINT `activityreminders_ibfk_1` FOREIGN KEY (`elderly_id`) REFERENCES `elderly` (`elderly_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activityreminders`
--

LOCK TABLES `activityreminders` WRITE;
/*!40000 ALTER TABLE `activityreminders` DISABLE KEYS */;
/*!40000 ALTER TABLE `activityreminders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alerts`
--

DROP TABLE IF EXISTS `alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alerts` (
  `alert_id` int NOT NULL AUTO_INCREMENT,
  `elderly_id` int NOT NULL,
  `alert_type` varchar(50) NOT NULL,
  `severity` varchar(20) NOT NULL,
  `description` text,
  `acknowledged` tinyint(1) DEFAULT '0',
  `acknowledgment_time` timestamp NULL DEFAULT NULL,
  `acknowledgment_by` int DEFAULT NULL,
  `triggered_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `response_required` tinyint(1) DEFAULT '0',
  `response_deadline` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`alert_id`),
  KEY `acknowledgment_by` (`acknowledgment_by`),
  KEY `idx_alert_elderly` (`elderly_id`),
  KEY `idx_alert_severity` (`severity`),
  KEY `idx_alert_acknowledged` (`acknowledged`),
  KEY `idx_alert_type` (`alert_type`),
  CONSTRAINT `alerts_ibfk_1` FOREIGN KEY (`elderly_id`) REFERENCES `elderly` (`elderly_id`) ON DELETE CASCADE,
  CONSTRAINT `alerts_ibfk_2` FOREIGN KEY (`acknowledgment_by`) REFERENCES `caregivers` (`caregiver_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alerts`
--

LOCK TABLES `alerts` WRITE;
/*!40000 ALTER TABLE `alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `appointments`
--

DROP TABLE IF EXISTS `appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `appointments` (
  `appointment_id` int NOT NULL AUTO_INCREMENT,
  `elderly_id` int NOT NULL,
  `appointment_type` varchar(100) DEFAULT NULL,
  `doctor_name` varchar(100) DEFAULT NULL,
  `clinic_name` varchar(100) DEFAULT NULL,
  `clinic_location` varchar(255) DEFAULT NULL,
  `clinic_phone` varchar(15) DEFAULT NULL,
  `appointment_date` date NOT NULL,
  `appointment_time` time NOT NULL,
  `duration_minutes` int DEFAULT NULL,
  `status` varchar(20) DEFAULT 'SCHEDULED',
  `notes` text,
  `reminder_sent` tinyint(1) DEFAULT '0',
  `assigned_caregiver_id` int DEFAULT NULL,
  PRIMARY KEY (`appointment_id`),
  KEY `assigned_caregiver_id` (`assigned_caregiver_id`),
  KEY `idx_appt_elderly` (`elderly_id`),
  KEY `idx_appt_date` (`appointment_date`),
  KEY `idx_appt_status` (`status`),
  CONSTRAINT `appointments_ibfk_1` FOREIGN KEY (`elderly_id`) REFERENCES `elderly` (`elderly_id`) ON DELETE CASCADE,
  CONSTRAINT `appointments_ibfk_2` FOREIGN KEY (`assigned_caregiver_id`) REFERENCES `caregivers` (`caregiver_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointments`
--

LOCK TABLES `appointments` WRITE;
/*!40000 ALTER TABLE `appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditlog`
--

DROP TABLE IF EXISTS `auditlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditlog` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `table_name` varchar(50) DEFAULT NULL,
  `record_id` int DEFAULT NULL,
  `action` varchar(20) DEFAULT NULL,
  `old_values` text,
  `new_values` text,
  `changed_by` varchar(100) DEFAULT NULL,
  `changed_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `idx_audit_table` (`table_name`),
  KEY `idx_audit_time` (`changed_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditlog`
--

LOCK TABLES `auditlog` WRITE;
/*!40000 ALTER TABLE `auditlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `caregiverassignments`
--

DROP TABLE IF EXISTS `caregiverassignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `caregiverassignments` (
  `assignment_id` int NOT NULL AUTO_INCREMENT,
  `caregiver_id` int NOT NULL,
  `elderly_id` int NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `assignment_reason` varchar(200) DEFAULT NULL,
  `assignment_status` varchar(20) DEFAULT 'ACTIVE',
  `hours_per_week` int DEFAULT NULL,
  PRIMARY KEY (`assignment_id`),
  UNIQUE KEY `uc_assignment` (`caregiver_id`,`elderly_id`,`start_date`),
  KEY `idx_caregiver_assignments` (`caregiver_id`),
  KEY `idx_elderly_assignments` (`elderly_id`),
  CONSTRAINT `caregiverassignments_ibfk_1` FOREIGN KEY (`caregiver_id`) REFERENCES `caregivers` (`caregiver_id`) ON DELETE CASCADE,
  CONSTRAINT `caregiverassignments_ibfk_2` FOREIGN KEY (`elderly_id`) REFERENCES `elderly` (`elderly_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caregiverassignments`
--

LOCK TABLES `caregiverassignments` WRITE;
/*!40000 ALTER TABLE `caregiverassignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `caregiverassignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `caregivers`
--

DROP TABLE IF EXISTS `caregivers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `caregivers` (
  `caregiver_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `phone` varchar(15) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `qualification` varchar(100) DEFAULT NULL,
  `experience_years` int DEFAULT NULL,
  `specialization` varchar(200) DEFAULT NULL,
  `availability_status` varchar(20) DEFAULT 'AVAILABLE',
  `preferred_shift` varchar(50) DEFAULT NULL,
  `registration_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `is_active` tinyint(1) DEFAULT '1',
  `notes` text,
  PRIMARY KEY (`caregiver_id`),
  UNIQUE KEY `phone` (`phone`),
  KEY `idx_caregiver_phone` (`phone`),
  KEY `idx_caregiver_status` (`availability_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caregivers`
--

LOCK TABLES `caregivers` WRITE;
/*!40000 ALTER TABLE `caregivers` DISABLE KEYS */;
/*!40000 ALTER TABLE `caregivers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `caregivertasks`
--

DROP TABLE IF EXISTS `caregivertasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `caregivertasks` (
  `task_id` int NOT NULL AUTO_INCREMENT,
  `caregiver_id` int NOT NULL,
  `elderly_id` int NOT NULL,
  `task_type` varchar(50) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `created_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `due_date` timestamp NULL DEFAULT NULL,
  `status` varchar(20) DEFAULT 'PENDING',
  `completion_time` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`task_id`),
  KEY `elderly_id` (`elderly_id`),
  KEY `idx_task_caregiver` (`caregiver_id`),
  KEY `idx_task_status` (`status`),
  KEY `idx_task_due` (`due_date`),
  CONSTRAINT `caregivertasks_ibfk_1` FOREIGN KEY (`caregiver_id`) REFERENCES `caregivers` (`caregiver_id`) ON DELETE CASCADE,
  CONSTRAINT `caregivertasks_ibfk_2` FOREIGN KEY (`elderly_id`) REFERENCES `elderly` (`elderly_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caregivertasks`
--

LOCK TABLES `caregivertasks` WRITE;
/*!40000 ALTER TABLE `caregivertasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `caregivertasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `communications`
--

DROP TABLE IF EXISTS `communications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `communications` (
  `communication_id` int NOT NULL AUTO_INCREMENT,
  `elderly_id` int NOT NULL,
  `caregiver_id` int NOT NULL,
  `message_type` varchar(20) DEFAULT NULL,
  `message` text NOT NULL,
  `sent_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `read_time` timestamp NULL DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`communication_id`),
  KEY `idx_comm_elderly` (`elderly_id`),
  KEY `idx_comm_caregiver` (`caregiver_id`),
  KEY `idx_comm_read` (`is_read`),
  CONSTRAINT `communications_ibfk_1` FOREIGN KEY (`elderly_id`) REFERENCES `elderly` (`elderly_id`) ON DELETE CASCADE,
  CONSTRAINT `communications_ibfk_2` FOREIGN KEY (`caregiver_id`) REFERENCES `caregivers` (`caregiver_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `communications`
--

LOCK TABLES `communications` WRITE;
/*!40000 ALTER TABLE `communications` DISABLE KEYS */;
/*!40000 ALTER TABLE `communications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `elderly`
--

DROP TABLE IF EXISTS `elderly`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `elderly` (
  `elderly_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `age` int NOT NULL,
  `phone` varchar(15) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `date_of_birth` date NOT NULL,
  `blood_type` varchar(5) DEFAULT NULL,
  `medical_conditions` varchar(500) DEFAULT NULL,
  `allergies` varchar(500) DEFAULT NULL,
  `current_medications` varchar(500) DEFAULT NULL,
  `emergency_contact_1_name` varchar(100) DEFAULT NULL,
  `emergency_contact_1_phone` varchar(15) DEFAULT NULL,
  `emergency_contact_2_name` varchar(100) DEFAULT NULL,
  `emergency_contact_2_phone` varchar(15) DEFAULT NULL,
  `registration_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `is_active` tinyint(1) DEFAULT '1',
  `notes` text,
  PRIMARY KEY (`elderly_id`),
  KEY `idx_elderly_phone` (`phone`),
  KEY `idx_elderly_name` (`name`),
  CONSTRAINT `ck_age` CHECK (((`age` >= 60) and (`age` <= 120)))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `elderly`
--

LOCK TABLES `elderly` WRITE;
/*!40000 ALTER TABLE `elderly` DISABLE KEYS */;
/*!40000 ALTER TABLE `elderly` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `healthmetrics`
--

DROP TABLE IF EXISTS `healthmetrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `healthmetrics` (
  `metrics_id` int NOT NULL AUTO_INCREMENT,
  `elderly_id` int NOT NULL,
  `systolic_bp` int DEFAULT NULL,
  `diastolic_bp` int DEFAULT NULL,
  `heart_rate` int DEFAULT NULL,
  `temperature` decimal(5,2) DEFAULT NULL,
  `oxygen_level` int DEFAULT NULL,
  `weight` decimal(5,2) DEFAULT NULL,
  `recorded_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `recorded_by` varchar(50) DEFAULT NULL,
  `notes` text,
  `alert_generated` tinyint(1) DEFAULT '0',
  `alert_id` int DEFAULT NULL,
  PRIMARY KEY (`metrics_id`),
  KEY `alert_id` (`alert_id`),
  KEY `idx_health_elderly` (`elderly_id`),
  KEY `idx_health_time` (`recorded_time`),
  KEY `idx_health_alert` (`alert_generated`),
  CONSTRAINT `healthmetrics_ibfk_1` FOREIGN KEY (`elderly_id`) REFERENCES `elderly` (`elderly_id`) ON DELETE CASCADE,
  CONSTRAINT `healthmetrics_ibfk_2` FOREIGN KEY (`alert_id`) REFERENCES `alerts` (`alert_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `healthmetrics`
--

LOCK TABLES `healthmetrics` WRITE;
/*!40000 ALTER TABLE `healthmetrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `healthmetrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medications`
--

DROP TABLE IF EXISTS `medications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medications` (
  `medication_id` int NOT NULL AUTO_INCREMENT,
  `elderly_id` int NOT NULL,
  `medicine_name` varchar(100) NOT NULL,
  `dosage` varchar(50) DEFAULT NULL,
  `frequency` varchar(50) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `prescribed_by` varchar(100) DEFAULT NULL,
  `prescription_date` date DEFAULT NULL,
  `notes` text,
  `is_active` tinyint(1) DEFAULT '1',
  `created_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`medication_id`),
  KEY `idx_med_elderly` (`elderly_id`),
  KEY `idx_med_active` (`is_active`),
  CONSTRAINT `medications_ibfk_1` FOREIGN KEY (`elderly_id`) REFERENCES `elderly` (`elderly_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medications`
--

LOCK TABLES `medications` WRITE;
/*!40000 ALTER TABLE `medications` DISABLE KEYS */;
/*!40000 ALTER TABLE `medications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicerequests`
--

DROP TABLE IF EXISTS `servicerequests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `servicerequests` (
  `request_id` int NOT NULL AUTO_INCREMENT,
  `elderly_id` int NOT NULL,
  `service_type` varchar(50) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `urgency` varchar(20) NOT NULL,
  `assigned_caregiver_id` int DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'PENDING',
  `request_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `assigned_time` timestamp NULL DEFAULT NULL,
  `completion_time` timestamp NULL DEFAULT NULL,
  `feedback_rating` int DEFAULT NULL,
  `feedback_notes` text,
  PRIMARY KEY (`request_id`),
  KEY `idx_service_elderly` (`elderly_id`),
  KEY `idx_service_status` (`status`),
  KEY `idx_service_urgency` (`urgency`),
  KEY `idx_service_caregiver` (`assigned_caregiver_id`),
  CONSTRAINT `servicerequests_ibfk_1` FOREIGN KEY (`elderly_id`) REFERENCES `elderly` (`elderly_id`) ON DELETE CASCADE,
  CONSTRAINT `servicerequests_ibfk_2` FOREIGN KEY (`assigned_caregiver_id`) REFERENCES `caregivers` (`caregiver_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicerequests`
--

LOCK TABLES `servicerequests` WRITE;
/*!40000 ALTER TABLE `servicerequests` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicerequests` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-10 11:01:51
CREATE TABLE users (
    user_id INT PRIMARY KEY AUTO_INCREMENT,
    username VARCHAR(50) NOT NULL UNIQUE,
    password_hash VARCHAR(255) NOT NULL,
    role VARCHAR(20) NOT NULL,
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);